<header class="page-header">
		<h2 class="page-title" style="text-align: center; font-size: 28px;">Quên mật khẩu</h2>
</header>

<form method="post" class="woocommerce-ResetPassword lost_reset_password" style="width: 50%; margin: 100px auto;">

<p>Bạn đã quên mật khẩu? Vui lòng nhập địa chỉ email đã đăng ký. Bạn sẽ nhận được liên kết để tạo mật khẩu mới qua email.</p>
	<div class="form-group mb-3">
        <label for="email">Địa chỉ email&nbsp;<span class="required">*</span></label>
        <input class="form-control" type="email" name="email" id=""  />
    </div>


    <button type="submit" class="btn btn-primary mb-3" style="border-radius: 10px; border: 2px solid;">Gửi lại mật khẩu</button>
   
</form>