<header class="page-header">
		<h2 class="page-title" style="text-align: center; font-size: 28px; ">Đăng ký tài khoản nhà tuyển dụng</h2>
</header>


<form class="woocommerce-form woocommerce-form-login login" method="post">
<p style="font-size: 16px; font-weight: bold;">Tài khoản</p>

<div class="row">
        <div class="form-group col-md-6 mb-3">
            <label for="username">Địa chỉ email &nbsp;<span class="required">*</span></label>
            <input type="email" class="form-control" name="email" id="email" autocomplete="username" value="" />
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="phone">Số điện thoại &nbsp;<span class="required">*</span></label>
            <input type="text" class="form-control" name="phone" id="phone" autocomplete="username" value="" />
        </div>
    </div>

<div class="row">
        <div class="form-group col-md-6 mb-3">
        <label for="">Mật khẩu &nbsp;<span class="required">*</span></label>
        <input type="password" class="form-control" name="password" id="password" autocomplete="current-password" /> 
        </div>
        <div class="form-group col-md-6 mb-3">
             <label for="">Nhập lại mật khẩu &nbsp;<span class="required">*</span></label>
        <input type="password" class="form-control" name="password" id="password" autocomplete="current-password"/>  
        </div>
    </div>
    
<p style="font-size: 16px; font-weight: bold;">Thông tin nhà tuyển dụng</p>    

<div class="row">
        <div class="form-group col-md-6 mb-3">
          <label for="">Tên công ty &nbsp;<span class="required">*</span></label>
        <input type="text" class="form-control" name="username" id="username" autocomplete="username" value="" /> 
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="">Mã số thuế &nbsp;<span class="required">*</span></label>
        <input type="text" class="form-control" name="username" id="username" autocomplete="username" value="" />   
        </div>
    </div>


<div class="row">
        <div class="form-group col-md-6 mb-3">
           <label for="">Địa chỉ làm việc &nbsp;<span class="required">*</span></label>
        <input type="text" class="form-control" name="username" id="username" autocomplete="username" value="" />   
        </div>
        <div class="form-group col-md-6 mb-3">
           <label for="">Mô tả công ty &nbsp;</span></label>
        <input type="text" class="form-control" name="username" id="username" autocomplete="username" value="" /> 
        </div>
    </div>
 
 <button type="submit" class="btn btn-primary mb-3" style="border-radius: 10px; border: 2px solid;">Đăng ký</button>
    <p class="lost_password">
        <a href="/Account/loginAccount">Đã có tài khoản? <span>Đăng nhập ngay</span></a>
    </p>
</form>

